/*Variables*/
:root {
    --primary-color: #110934;

    --secondary-color: #f0f7d4;

    --neutral-color: #333333;

    --background-color: #f0f7d4;

    --surface-color: #110934;

    --lobster-font: 'Lobster', sans-serif;
    --sans-font: 'DM Sans', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}

.main-container {
    max-width: 100%;
    height: 100vh;
    background-color: var(--background-color);
    margin: 0 auto;
    padding: 1rem;
    flex: 1;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Genera style: The style that is going to be applied to
 all the elemnts.*/
html {
    background-color: var(--background-color);
    font-size: 14px;
}

* {
    font-family: var(--sans-font);
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

/*Text Style*/
h1 {
    color: var(--neutral-color);
    font-size: 2rem;
    text-transform: uppercase;
}

h2 {
    color: var(--primary-color);
    font-family: var(--lobster-font);
    font-weight: 400;
    letter-spacing: 0.06rem;
    font-size: 1.8rem;
}

p {
    color: var(--neutral-color);
    font-size: 1.1rem;
}

.text-label {
    color: white;
    background-color: var(--secondary-color);
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0.8rem 1.5rem;
    cursor: initial;
}