footer {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: solid 2px var(--secondary-color);
    background-color: var(--surface-color);
    margin-top: auto;
}

footer p {
    color: var(--secondary-color);
    font-size: 1 rem;
    padding: 1rem;
    margin: 0 1rem;
}

footer nav {
    width: max-content;
}

footer nav a {
    color: var(--neutral-color);
    margin: 0 1rem;
    height: 2rem;
}

footer nav a:hover {
    border-bottom: solid 3px var(--primary-color);
}