.inventory-section {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.inventory-table-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.inventory-table-container button {
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
}

.inventory-description-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inventory-description-container a {
    color: var(--primary-color);
    margin-top: 1rem;
    align-self: flex-end;
}

.inventory-description-container p {
    width: 80%;
    margin: 2rem auto;
    text-align: center;
    align-self: center;
}